.title {
  color: rgb(0 83 160);
  font-size: 85px;
}

.titleContainer {
  width: 45%;
}

.upperBanner {
  /* height: 80vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding-top: 75px;
}

.hashTag {
  color: gray;
  font-size: 25px;
  font-weight: 400;
}
