.container {
  width: 350px;
  padding-block: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: rgb(150, 150, 150);
  margin-top: 10px;
  font-weight: 700;
}
.desc {
  color: #000;
}

.image {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.image:hover {
  opacity: 0.7;
}
