.second {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  padding-top: 55px;
}

.firstText {
  margin-left: 30px;
}

.firstText h2 {
  margin-left: 5px;
  margin-bottom: 19px;
  font-size: 40px;
  color: rgb(255 168 0);
  font-weight: 600;
}

.firstText h3,
.textBox h3 {
  font-weight: 400;
  color: rgb(139, 139, 139);
}

.textBox h2 {
  font-size: 33px;
  color: rgb(0 83 160);
  font-weight: 600;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: black;
  gap: 50px;
}

.textBox {
  box-shadow: 5px 11px 29px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 11px 29px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 11px 29px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  padding-inline: 25px;
  border-radius: 25px;
  color: black;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-left: -80px;
  z-index: 10;
  justify-content: space-evenly;
  background-color: white;
}

.image {
  z-index: 0;
}

@media screen and (max-width: 1280px) {
  .second {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .second {
    padding-inline: 10px;
  }
  .image {
    width: 400px;
    height: 400px;
  }
  .textBox {
    margin-left: unset;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
  .image {
    width: 390px;
    height: 390px;
  }
}
